# Application host and port
HOST=localhost
PORT=8080

# Timeout on reading/writing the request body (in milliseconds)
REQUEST_READ_TIMEOUT=2000
REQUEST_WRITE_TIMEOUT=2000

# Timeout on graceful shutdown (in milliseconds)
GRACE_PERIOD=5000

# Postgres credentials 
PG_HOST=localhost
PG_PORT=5432
PG_DB=hirevec
PG_USER=
PG_PASSWORD=

# Logging level
LOG_LEVEL=WARN

# Crypto keys
SYMMETRIC_KEY=
ASYMMETRIC_KEY=
