# Symmetric key for refresh token encryption (auto-populated if empty)
HIREVEC_SYMMETRIC_KEY=

# Asymmetric key for access token encryption (auto-populated if empty)
HIREVEC_ASYMMETRIC_KEY=

# Log level
HIREVEC_LOG_LEVEL=

# Postgres URL
POSTGRES_DATABASE_URL=

# TEI Base URL
TEI_BASE_URL=

# TEI API Key
TEI_API_KEY=
