# Hirevec core server base URL.
HIREVEC_BASE_URL=localhost:8888

# Symmetric key for refresh token encryption.
# Can be generated via `openssl rand -hex 32`.
# Auto-populated if empty.
HIREVEC_SYMMETRIC_KEY=

# Asymmetric key for access token encryption.
# Can be generated via `go run cmd/create_asymmetric_key/main.go`.
# Auto-populated if empty.
HIREVEC_ASYMMETRIC_KEY=

# Log level.
HIREVEC_LOG_LEVEL=DEBUG

# Postgres URL.
# SQLite will be used if empty.
POSTGRES_DATABASE_URL=

# TEI (Embeddings/Reranker) Base URL.
# OkapiBM25 will be used if empty.
TEI_BASE_URL=

# TEI (Embeddings/Reranker) API Key.
# OkapiBM25 will be used if empty.
TEI_API_KEY=

# SMTP URL.
# No password reset and no e-mail confirmation on sign-up if empty.
SMTP_URL=
